/* Mayerweb CSS reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -----------------------------------------------------------------------*/
/* This is a start of the new CSS code */

h1, h2, h3, h4, h5, h6 {
    margin: 1em auto;
    text-align: center;
    font-weight: bold;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.2em;
}

h3 {
	font-size: 1.8em;
}

h4 {
	font-size: 1.6em;
}

h5 {
	font-size: 1.5em;
}

h6 {
	font-size: 1.2em;
}

ul {
   list-style-type: disc;
   list-style-position: inside;
}
ol {
   list-style-type: decimal;
   list-style-position: inside;
}
ul ul, ol ul {
   list-style-type: circle;
   list-style-position: inside;
   margin-left: 15px;
}
ol ol, ul ol {
   list-style-type: lower-latin;
   list-style-position: inside;
   margin-left: 15px;
}

nav {
    font-size: 1.5em;
}

header h6 {
	margin-top: 1.5em;
	margin-bottom: 1em;
}

header h6, header h1 {
	color: white;
	text-transform: uppercase;
	margin: 0.8em auto;
}

hr {
	margin: 2.5em auto;
}

header {
    line-height: 1.5;
    background-color: #0F1C3F;
    color: white;
    padding: 3.125em;
}

/* Boilerplate */

* {
    box-sizing: border-box;
    margin: 0;
}

.title {
    color: white;
    text-align: center;
    font-size: 2em;
    margin-top: 2.5em;
}

body {
    font-family: "Open Sans";
    line-height: 1.5;
    margin: 0 auto;
    color: black;
    background-color: #E2E8E4;
    border-width: 10px;
    border-top: none;
    border-bottom: none;
}

header a {
    color: white;
    font-size: 1em;
    text-decoration: none;
}

.fa.fa-twitter, .fa.fa-linkedin, .fa.fa-facebook, .fa.fa-google-plus {
    color: black;
    font-size: 3vw;
    margin: 1em -0.5em 0em 1em;
    text-decoration: none;
}

.share {
    position: absolute;
    top: 64em;
    right: 8em;
}

article {
    margin: auto 16em;
    font-family: "Helvetica-Light";
}

article img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

figcaption {
    text-align: center;
}

.social a {
	color: #545AA7;
}

.social a:hover {
	color: #1F305E;
}

.top {
    margin: 2em 2em 1em 27em;
    background-color: #0F1C3F;
    opacity: 0.5;
    color: white;
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    font-size: 1.6em;
    text-decoration: none;
    text-align: center;
}

.top:hover {
    background-color: #0F1C3F;
    opacity: 1;
}

blockquote{
	display: block;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 40px;
    margin-right: 40px;
	background-color: #EDEDED;
	padding: 2em 2em;
	font-size: 0.9em;
}

/* This part is for the footer */

footer {
    background-color: #0F1C3F;
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 1.2em;
    text-transform: uppercase;
}

/* This is the end of the article.css file */