/****created and maintained  @dasdezine****/

body {
overflow-x: hidden;
color: white;
background-color: #0F1C3F;
}

p {
font-size: 20px;
color: white;
}

::-webkit-input-placeholder {
    color:red;
}

::-moz-placeholder {
    color:red;
}

::-ms-placeholder {
    color:red;
}

::placeholder {
    color:red;
}

p.small {
font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
outline: 0;
color: #fad663;
}

h1,
h2,
h3,
h4,
h5,
h6 {
text-transform: uppercase;
font-family: 'Ubuntu',"Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 700;
}

hr.star-light,
hr.star-primary {
margin: 20px auto 30px;
padding: 0;
max-width: 250px;
border: 0;
border-top: solid 5px;
text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
content: "\f197";
display: inline-block;
position: relative;
top: -.8em;
padding: 0 .25em;
font-family: FontAwesome;
font-size: 2em;
}

hr.star-light {
border-color: white;
}

hr.star-light:after {
color: #0F1C3F;
background-color: white;
}

hr.star-primary {
border-color: white;
}

hr.star-primary:after {
color: #212121;
background-color: #0F1C3F;
}

.img-centered {
margin: 0 auto;
}

header {
text-align: center;
color: white;
background: #fdd200;
}

header .container {
padding-top: 100px;
padding-bottom: 50px;
}

header img {
display: block;
margin: 0 auto 20px;
}

@media(min-width:768px) {
header .container {
    padding-top: 200px;
    padding-bottom: 100px;
}

@media(min-width:1024px) {
header {
    background-color: #0F1C3F;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center 50px;
}
header .container {
    padding-top: 100px;
    padding-bottom: 200px;
}

header img.img-bigScreen {
    display: none;
}

hr.star-light:after {
    background-color: #0F1C3F;
}
}

@media(min-width:1366px) {
header {
    background-position: center 10px; 
    background-color: #0F1C3F;
}
}


section {
padding: 50px 0;
}

section h2 {
margin: 0;
font-size: 3em;
}

section.success {
color: white;
background: #fad663;
}

@media(max-width:767px) {
section {
    padding: 25px 0;
}

section.first {
    padding-top: 75px;
}
}

@media(min-width:767px) {
#portfolio .col-sm-3 {
    padding-right:0;
    padding-left: 0;
}
}

}


div.contact-btn .btn-outline {
background: #d2eae3;
}


.btn-outline {
margin-top: 15px;
border: solid 2px #212121;
border-radius: 20px;
font-size: 20px;
color: #212121;
background:#fff;
transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
color: white;
background: #fdd200;
}

/*******btn double line style starts***********/

@media(min-width:767px) {

div.btn-style {
    position: relative;
    z-index:1;
}

div.btn-style .btn-styleLine {
    padding:0 0;
    display: inline-block;
}

div.seeMore-btn .btn-styleLine {
    background: transparent;
}

div.contact-btn .btn-styleLine {
    background: transparent;
}

.double-line:before {
    content: "";
    border-top: 2px solid white;
    position: absolute;
    top:50%;
    left:25%;
    width: 50%;
    z-index: -1;
}

.double-line:after {
    content: "";
    border-bottom: 2px solid white;
    position: absolute;
    bottom:25%;
    left:30%;
    width: 40%;
    z-index: -1;
}
}

@media(min-width:1024px) {
#portfolio .double-line:before {
    left:32%;
    width:35%;
}

#portfolio .double-line:after {
    left:35%;
    width: 30%;
}
}

@media(min-width:1024px) {
div.seeMore-btn {
    position: relative;
    top:150px;
    left:10px;
}
}

/*******btn double line style ends***********/

#contact {
    background-color: #0F1C3F;
}
#contact hr.star-primary:after {
    background: #0F1C3F;
    color: white;
}

#contact .form-padding {
padding:0px 10px;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
z-index: 1;
position: relative;
padding-right: 0;
padding-left: 0;
border: 0;
border-radius: 0;
font-size: 1.5em;
background: 0 0;
box-shadow: none!important;
resize: none;
}

.floating-label-form-group label {
display: block;
z-index: 0;
position: relative;
top: 2em;
margin: 0;
font-size: .85em;
line-height: 1.764705882em;
vertical-align: middle;
vertical-align: baseline;
opacity: 0;
-webkit-transition: top .3s ease,opacity .3s ease;
-moz-transition: top .3s ease,opacity .3s ease;
-ms-transition: top .3s ease,opacity .3s ease;
transition: top .3s ease,opacity .3s ease;
}


form .floating-label-form-group {
background: white;
border: 2px solid white;
border-radius: 6px;
}

.btn:focus,
.btn:active,
.btn.active {
outline: 0;
}