/* Mayerweb CSS reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -----------------------------------------------------------------------*/
/* This is a start of the new CSS code */

html * {
    font-family: "Open Sans";
}

header {
    line-height: 1.5;
    background-color: #0F1C3F;
    color: #5b5b5b;
    margin: auto;
    padding: 3.125em;
    margin-bottom: 100px;
}

/* Boilerplate */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Open Sans";
    line-height: 1.5;
    margin: 0 auto;
    color: black;
    background-color: #E2E8E4;
    border-width: 10px;
    border-top: none;
    border-bottom: none;
}

a {
    color: #456BD9;
    font-size: 16px;
}

.fa.fa-twitter, .fa.fa-github, .fa.fa-medium {
    position: relative;
    bottom: 3.8em;
    left: 21.5em;
    color: white;
    font-size: 3.125em;
    margin: 0 0 0 0.5em;
    text-decoration: none;
}

/*This is the start of the <div> and <span> based code
----------------------------------------------------------------------------*/

/* This is an important part of the code. Attribute "title is also used in other
cases so take care if deleting the .title from here */

.title {
    color: white;
    text-align: center;
    font-size: 5em;
    margin-bottom: 1.5em;
}

/* This deals with the main menu */

.menu {
    list-style-type: none;
    padding: 0;
    text-align: right;
    margin-top: 3em;
}

.menu li {
    display: inline;
    padding: 2em;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 2em;
}

.menu a:hover {
    color: #0099cc;
}

/* This deals with the main part of the front-page */

/* Boilerplate */

.sidebar-item {
    background: #dbe5ea;
    border-radius: 0.5em;
    overflow: hidden;
    margin-left: 5em;
}

.sidebar-item-header {
    background: #0F1C3F;
    color: #fff;
    font-size: 1.25em;
    line-height: 1;
    padding: 1rem;
    text-align: center;
}

.sidebar-item-menu {
    list-style: none;
    padding: 0;
}

.sidebar-item-menu > * + * {
    border-top: 2px solid transparent;
}

.sidebar-item-menu a {
    background-color: rgba(255,255,255,0.5);
    display: block;
    line-height: 1;
    padding: 1rem;
    text-decoration: none;
}

.archive {
    overflow: scroll;
    max-height: 15.5em;
}

.archive > * + * {
    border-top: 2px solid transparent;
}

/**
 * 1. Use grid.
 * 2. Gutter space.
 * 3. Center at large sizes.
 * 4. Set maximum width.
 */

.grid {
    display: grid; /* 1 */
    grid-gap: 2.5em; /* 2 */
    margin: 1.5em auto; /* 2, 3 */
    max-width: 85em; /* 4 */
    padding: 0 1.5em; /* 2 */
    position: relative;
    bottom: 3em;
}

/**
 * Sidebar inherits grid display styles and gap size. This will be simpler once `display: subgrid` is supported!
 */

.sidebar {
    display: inherit;
    grid-gap: inherit;
}

/**
 * At slightly wider sizes, show sidebar elements side by side (each taking up half the space, minus gutter gap and stuff).
 */

@media (min-width: 34em) and (max-width: 49.9375em) {
  .sidebar {
    grid-template-columns: 1fr 1fr;
  }
}

/**
 * At even wider sizes…
 */

@media (min-width: 50em) {

  /**
   * Establish one primary (⅔) column and one secondary (⅓) column.
   */

  .grid {
    grid-template-columns: 2fr 1fr;
  }

  /**
   * 1. Automatically create sidebar rows that are as short as their content will allow.
   * 2. Make this element span two rows, allowing prose elements to flow to its left.
   */

  .sidebar {
    grid-auto-rows: min-content; /* 1 */
    grid-row: span 2; /* 2 */
  }
}

/* This part deals with the 2-column grid */

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 100%;
    grid-gap: 1em;
}

.grid-item {
    background-color: #dbe5ea;
    border: 1em solid #0F1C3F;
    text-align: center;
}

.intro-grid-item {
    text-align: left;
    display: block;
}

.intro-grid-item h1 {
    font-weight: bold;
}

.intro-post-title {
    text-align: center;
    font-size: 2.5em;
    color: black;
}

.posttitle {
    display: block;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    background-color: #0F1C3F;
    color: white;
}

article img {
    max-width: 100%;
}

.grid-container article p {
    color: black;
    margin: 10px;
    text-align: center;
    line-height: 1.5;
    max-height: 200px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Helvetica-Light";
    font-size: 20px;
}

.grid article p {
    margin-top: 1em;
    line-height: 1.5;
    font-family: "Helvetica-Light";
    font-size: 20px;
}

.publication {
    display: block;
    background-color: #0F1C3F;
    font-size: 16px;
    color: white;
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 0.3em;
}

article .button {
    border-radius: 28px;
    padding: 5px;
    margin: 20px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    background-color: #0F1C3F;
}

article .button:hover {
    background: #7e98dd;
}

article .button a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* This part is for the article design */

.inside_articles {
    display: inline-block;
    background: white;
    color: black;
    margin: 0em 10em 100px 10em;
    padding: 50px 25px;
    font-family: "Helvetica-Light";
}

/* This is how we get back to top */

.back-top-front {
    display: block;
    position: absolute;
    top: 72em;
    left: 28em;
    width: 3em;
    height: 3em;
    background: #0F1C3F;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    line-height: 3em;
    text-align: center;
}

.back-top-front:hover {
    background: #7e98dd;
}

.arrow {
    font-size: 3em;
}

.back-top-blog {
    position: fixed;
    bottom: 65px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #0F1C3F;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
}

.back-top-blog:hover {
    background: #7e98dd;
}

/* This deals with the biography page */

.bio {
    margin: -5em 30em 3em 10em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bio h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
    text-align: center;
}

.bio h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0.5em 0;
    background-color: #0F1C3F;
    color: white;
    padding: 0.3em;
}

.bio h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 1em 0 1em 3em;
}

.back-top-bio {
    display: block;
    position: absolute;
    top: 71em;
    left: 45em;
    width: 2.5em;
    height: 2.5em;
    background: #0F1C3F;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    line-height: 2.5em;
    text-align: center;
}

.back-top-bio:hover {
    background: #0F1C3F;
}

.arrow {
    font-size: 3em;
}

.bio:hover > div {
    transition-duration: 0.3s;
}

.bio:hover > div:hover h3 {
    letter-spacing: 1.6px;
}

.bio:hover > div:hover h3 i {
    transform: scale(1.2);
}

/* .bio:hover > div:not(:hover) {
    opacity: 0.5;
} */

.bio h3 {
    transition-duration: 0.3s;
    margin-top: 0;
}

.bio h3 i {
    color: #fcfcfc;
    background: #0F1C3F;
    width: 42px;
    height: 42px;
    font-size: 20px;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-right: 8px;
    transition-duration: 0.3s;
}

.bio .work,  .bio .edu {
    margin: 3em 0;
}

.bio .work small,  .bio .edu small {
    display: block;
    opacity: 0.7;
}

.bio .work ul li,  .bio .edu ul li {
    position: relative;
    margin-left: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
}

.bio .work ul li:hover::before,  .bio .edu ul li:hover::before {
    animation: circle 1.2s infinite;
}

.bio .work ul li:hover span,  .bio .edu ul li:hover span {
    color: #0F1C3F;
}

@keyframes circle {
from {
    box-shadow: 0 0 0 0px #3d405b;
}
to {
    box-shadow: 0 0 0 6px rgba(61, 64, 91, 0);
}
}

.bio .work ul li:first-of-type::before,  .bio .edu ul li:first-of-type::before {
    width: 10px;
    height: 10px;
    left: -2px;
}

.bio .work ul li:last-of-type,  .bio .edu ul li:last-of-type {
    padding-bottom: 3px;
}

.bio .work ul li:last-of-type::after,  .bio .edu ul li:last-of-type::after {
    border-radius: 1.5px;
}

.bio .work ul li::before,  .bio .work ul li::after,  .bio .edu ul li::before,  .bio .edu ul li::after {
    content: "";
    display: block;
    position: absolute;
}

.bio .work ul li::before,  .bio .edu ul li::before {
    width: 7px;
    height: 7px;
    border: 3px solid #0F1C3F;
    background: #fcfcfc;
    border-radius: 50%;
    left: 0;
    z-index: 1;
}

.bio .work ul li::after,  .bio .edu ul li::after {
    width: 3px;
    height: 100%;
    background: #0F1C3F;
    left: 5px;
    top: 0;
}

.bio .work ul li span,  .bio .edu ul li span {
    transition-duration: 0.3s;
}

.bio .work {
    width: 42%;
}

.bio .edu {
    width: 58%;
}

/* This part is for the footer */

footer {
    background-color: #0F1C3F;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 15px;
}

/* This is the end of the style.css file */

