@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

html * {
    font-family: "Open Sans" !important;
}

header {
    text-align: center;
}

body {
	background-color: #40474f;
}

a {
    color: white;
}

footer {
    text-align: left;
}

/* -------------------------------------------------------------------------------
This is the start of the <div> and <span> based code */

.title {
    color: #FFF !important;
    text-align: center;
    font-size: 40px;
}

.menuitems {
    color: black !important;
    margin-top: 2px;
    font-size: 30px;
    margin-left: -380px;
    margin-right: 400px;
}

.textwriter {
    margin-right: 600px;
    margin-left: 580px;
    text-align: center;
    color: white;
    text-decoration: none !important;
}

.blogpost {
    background-color: #fff;
    text-align: center;
    width: 500px;
    height: 580px;
}

.publication {
	display: grid;
}

.readmore {
    font-size: 15px;
    background-color: #000;
    color: #fff;
    display: inline-block;
    position: relative;
    top: 30px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.inside_articles {
    display: inline-block;
    background: white;
    color: black;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
    border: none;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 25px;
    padding-left: 25px;
}

.postgrid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding-left: 200px;
    padding-right: 700px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
}

.footer {
    color: white;
    padding-left: 50px;
}
