
header {
	text-align: center;
}

h1 {
	text-align: center;
    border: 7px solid white;
    width: 350px;
    height: 25px;
    padding: 25px;    
    margin: auto;
    margin-top: 20px;
}

h2 {
	text-align: center;
    color: black;
}

body {
    background-color: #fff;
}

article {
    text-align: center;
    border: 1px solid black;
    width: 300px;
    margin: auto;
}

footer {
	align-content: center;
	text-align: center;
	text-align: center;
}