@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

html * {
    font-family: "Open Sans" !important;
}

header {
    text-align: center;
}

body {
	background-color: #40474f;
}

a {
    color: white;
}

footer {
    text-align: left;
}

/* -------------------------------------------------------------------------------
This is the start of the <div> and <span> based code */

/*This deals with the title, textwriter, and menu items*/

.title {
    color: #FFF !important;
    text-align: center;
    font-size: 40px;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 1);
}

.menuitem {
    color: black !important;
    margin-top: 2px;
    font-size: 30px;
    margin-left: -380px;
    margin-right: 400px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
}

.textwriter {
    margin-right: 600px;
    margin-left: 580px;
    text-align: center;
    color: white;
    text-decoration: none !important;
    text-shadow: 5px -4px 3px rgba(0, 0, 0, 1);
}

/* This part is solely dedicated to frontpage bp alignment */

.postgrid {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    grid-template-rows: 440px 440px;
    grid-gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 200px;
    margin-left: 200px;
}

.blogpost {
    background-color: white;
    text-align: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.ptitle {
    font-size: 20px;
    background-color: #272932;
    color: white;
}

.frontimage {
    max-width: 100%;
    max-height: 100%;
}

.publication {
    display: grid;
}

.readmore {
    border: 3px solid white;
    font-size: 15px;
    font-weight: bold;
    background-color: #272932;
    text-align: center;
    color: white;
}

/* This part is for the article design */

.inside_articles {
    display: inline-block;
    background: white;
    color: black;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
    border: none;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 25px;
    padding-left: 25px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.footer {
    color: white;
    padding-left: 50px;
}

.waste {
    color: #40474f;
    font-size: 1px;
}
